In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
os.chdir("/workspace/undergrad_ml_assignments/data")

In [8]:
mdf = pd.read_csv('linked_mortality_file_1999_2000.csv') # Load mortality file
print( mdf.head() )
gdf = pd.read_sas("DEMO.xpt", format="xport") # Load demographics file
print( gdf.head() )
df = gdf.merge(mdf, on="SEQN", how="inner") # Merge mortality and demographics on SEQN variable
df.head()

   SEQN  ELIGSTAT  MORTSTAT  UCOD_LEADING  DIABETES  HYPERTEN  PERMTH_INT  \
0     1         2       NaN           NaN       NaN       NaN         NaN
1     2         1       1.0           6.0       0.0       0.0       177.0
2     3         2       NaN           NaN       NaN       NaN         NaN
3     4         2       NaN           NaN       NaN       NaN         NaN
4     5         1       0.0           NaN       NaN       NaN       244.0

   PERMTH_EXM
0         NaN
1       177.0
2         NaN
3         NaN
4       244.0
   SEQN  SDDSRVYR  RIDSTATR  RIDEXMON  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDAGEEX  \
0   1.0       1.0       2.0       2.0       2.0       2.0      29.0      31.0
1   2.0       1.0       2.0       2.0       1.0      77.0     926.0     926.0
2   3.0       1.0       2.0       1.0       2.0      10.0     125.0     126.0
3   4.0       1.0       2.0       2.0       1.0       1.0      22.0      23.0
4   5.0       1.0       2.0       2.0       1.0      49.0     597.0     597.0

   RIDRETH1  RIDRETH2  ...      WTIREP43      WTIREP44      WTIREP45  \
0       4.0       2.0  ...  10094.017100   9912.461855   9727.078709
1       3.0       1.0  ...  27186.728682  27324.345051  28099.663528
2       3.0       1.0  ...  43993.193099  44075.386428  46642.563799
3       4.0       2.0  ...  10702.307249  10531.444441  10346.119327
4       3.0       1.0  ...  93164.782430  92119.608772  95388.490406

       WTIREP46      WTIREP47      WTIREP48      WTIREP49      WTIREP50  \
0  10041.524113  9.953956e+03   9857.381983   9865.152486  10327.992682
1  27757.066921  2.804929e+04  26716.602006  26877.704909  27268.025234
2  44967.681579  4.457248e+04  44087.945688  44831.370881  44480.987235
3  10636.063039  5.397605e-79  10533.108939  10654.749584  10851.024385
4  94131.383538  9.529781e+04  91325.082461  91640.586117  92817.926915

       WTIREP51      WTIREP52
0   9809.165049  10323.315747
1  27406.383620  26984.812909
2  45389.112766  43781.905637
3  10564.981435  11012.529729
4  94282.855382  91993.251203

[5 rows x 144 columns]

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,...,WTIREP50,WTIREP51,WTIREP52,ELIGSTAT,MORTSTAT,UCOD_LEADING,DIABETES,HYPERTEN,PERMTH_INT,PERMTH_EXM
0,1.0,1.0,2.0,2.0,2.0,2.0,29.0,31.0,4.0,2.0,...,10327.992682,9809.165049,10323.315747,2,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,1.0,2.0,2.0,1.0,77.0,926.0,926.0,3.0,1.0,...,27268.025234,27406.383620,26984.812909,1,1.0,6.0,0.0,0.0,177.0,177.0
2,3.0,1.0,2.0,1.0,2.0,10.0,125.0,126.0,3.0,1.0,...,44480.987235,45389.112766,43781.905637,2,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,1.0,2.0,2.0,1.0,1.0,22.0,23.0,4.0,2.0,...,10851.024385,10564.981435,11012.529729,2,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,1.0,2.0,2.0,1.0,49.0,597.0,597.0,3.0,1.0,...,92817.926915,94282.855382,91993.251203,1,0.0,NaN,NaN,NaN,244.0,244.0

In [9]:
df['ELIGSTAT'].describe()

count    9965.000000
mean        1.453889
std         0.498499
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         3.000000
Name: ELIGSTAT, dtype: float64

In [10]:
df['PERMTH_INT'].describe()

count    5445.000000
mean      202.314601
std        67.137767
min         0.000000
25%       194.000000
50%       235.000000
75%       242.000000
max       250.000000
Name: PERMTH_INT, dtype: float64

In [11]:
df['RIDAGEEX'].describe()

count    9.141000e+03
mean     3.453502e+02
std      2.835316e+02
min      5.397605e-79
25%      1.290000e+02
50%      2.280000e+02
75%      5.500000e+02
max      1.019000e+03
Name: RIDAGEEX, dtype: float64

In [12]:
df['MORTSTAT'].describe()

count    5445.000000
mean        0.307622
std         0.461551
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: MORTSTAT, dtype: float64

In [14]:
hdf = pd.read_sas("DRXTOT.xpt")
hdf.head()

,SEQN,WTDRD1,WTDR4YR,DRDDRSTS,DRDEXMER,DRASCST2,DRDAINMD,DRDINTMD,DRDDAY,DRALANG,...,DRQ370QQ,DRD370R,DRQ370RQ,DRD370S,DRQ370SQ,DRD370T,DRQ370TQ,DRD370U,DRQ370UQ,DRD370V
0,1.0,14809.893854,6066.128663,1.0,19.0,1.0,1.0,1.0,4.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
1,2.0,26899.708892,14921.934292,1.0,72.0,1.0,1.0,1.0,6.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
2,3.0,34388.840334,15866.447640,1.0,70.0,1.0,1.0,1.0,7.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,7159.829389,3218.099911,1.0,72.0,1.0,1.0,1.0,6.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
4,5.0,127746.359176,58973.611131,1.0,65.0,1.0,1.0,1.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
new_df = df.merge(hdf, on="SEQN", how="inner") # Merge mortality and demographics on SEQN variable
new_df.shape

(9282, 283)